/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */

h1 {
  font-family: 'Commissioner', sans-serif;
}
h3 {
  font-family: 'Piazzolla', serif;
}
h4 {
  font-family: 'Roboto', sans-serif;
}
